# DATABASE_DRIVER="mongodb"
# DATABASE_URL="mongodb://localhost:27017/prac"
# DEBUG=*


DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=student
DB_PASSWORD=student
DB_NAME=database
DATABASE_URL=postgres://student:student@localhost:5432/database

